<div class="position">

    <h1 mat-dialog-title class="center">Welcome to Nebular</h1>
    <mat-dialog-content class="mat-typography">

        <h3 class="bold">Create</h3>
        <p>Use predefined modules or request a new one.</p>

        <mat-divider class="spacer"></mat-divider>
        <h3 class="bold">Train</h3>
        <p>Train the KI-System in the background by providing your own data.</p>

        <mat-divider class="spacer"></mat-divider>
        <h3 class="bold">Analyse</h3>
        <p>Run your favorite modules to get the analytic results from the KI.</p>

        <mat-divider class="spacer"></mat-divider>
        <h2 class="center">... A living universe for everyone.</h2>

    </mat-dialog-content>

    <div mat-dialog-actions class="center">
        <button mat-button (click)="onCancel()">Cancel</button>
    </div>
</div>
