<div class="position">
  <h1 mat-dialog-title>{{data.name}}</h1>
  <mat-dialog-content>
    <p>This is module {{data.name}}.</p>

    <!-- Example: Show Content from variable, propably needed later-->
    <!--mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>-->

    <p>This module calculates the correlation of the factors '{{data.factorY}}' and '{{data.factorZ}}'.</p>
    <br />
    <mat-divider></mat-divider>
    <br />

    <div align="center">
      <h6>Do you want to add data to train the KI?</h6>
      <br />

      <button mat-raised-button color="primary" (click)="addData()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <br />

  </mat-dialog-content>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial (click)="runModule(dataField)">Run Module</button>
  </div>

</div>